<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue</title>
  <script src="dist/eruda.js" type="text/javascript" charset="utf-8"></script>
  <script>
    eruda.init();
  </script>
</head>
<body>
  <div id="app">
    {{inputText}}
    <br>
    <input type="text" v-model="inputText" placeholder="FullName" /><br>
    <p style="white-space:pre-line;">
      {{textAreaContent}}
    </p>
    <br>
    <textarea v-model="textAreaContent"></textarea>
    <br>
    <select v-model="selected">
      <option v-for="option in options" v-bind:value="option.value">
        {{option.text}}
      </option>
    </select>
    <p>
      {{selected}}
    </p>
    <p>
      {{checkedOptions}}
    </p>
    <div>
      <input type="checkbox" v-model="checkedOptions" value="Male" id="male" />
      <label for="male">Male</label>
    </div>
    <div>
      <input type="checkbox" v-model="checkedOptions" value="FeMale" id="female" />
      <label for="female">Female</label>
    </div>
    <div>
      <input type="radio"  id="game" v-model="radioBtnPicked" value="Game"/>
      <label for="game" >Game</label>
    </div>
    <div>
      <input type="radio"  id="program" v-model="radioBtnPicked" value="Programming"/>
      <label for="program">Programming</label>
    </div>
    <div>{{radioBtnPicked}}</div>
  </div>
  <script src="dist/vue.js"></script>
  <script src="app.js"></script>
  <script>
    Vue.createApp({
      data() {
        return {
          inputText: '',
          textAreaContent: '',
          selected: '',
          options: [{
            text: 'From amm', value: 'Aung Myat Moe'
          },
            {
              text: 'From tts', value: 'Than Than Swe'
            }],
          checkedOptions: [],
          radioBtnPicked:''
        }
      }
    }).mount('#app');
  </script>
</body>
</html>